In [7]:
import pandas as pd
import numpy as np
import yfinance as yf

In [8]:
MCD = yf.Ticker('MCD')

df_MCD = MCD.history(period='ytd',interval= '1d')
print(type(df_MCD))

<class 'pandas.core.frame.DataFrame'>

In [9]:
df_MCD.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 225 entries, 2023-01-03 00:00:00-05:00 to 2023-11-22 00:00:00-05:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          225 non-null    float64
 1   High          225 non-null    float64
 2   Low           225 non-null    float64
 3   Close         225 non-null    float64
 4   Volume        225 non-null    int64
 5   Dividends     225 non-null    float64
 6   Stock Splits  225 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 14.1 KB

In [10]:
MCD_cols = df_MCD.columns.tolist() 
print(MCD_cols)

['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits']

### Liat isi kolom Dividends

In [11]:
for col in MCD_cols[-2:]:
    print(df_MCD[col].unique())

[0.   1.52]
[0.]

In [12]:
df_MCD[df_MCD['Dividends'] == 0.53]

Empty DataFrame
Columns: [Open, High, Low, Close, Volume, Dividends, Stock Splits]
Index: []

In [13]:
df_MCD[df_MCD['Dividends'] == 0.57]

Empty DataFrame
Columns: [Open, High, Low, Close, Volume, Dividends, Stock Splits]
Index: []

ternyata isi kolom Dividends sama Stock Splits ga penting, bisa di-Drop

In [15]:
df_MCD = df_MCD.drop(['Dividends', 'Stock Splits'], axis= 1) # Run 1 kali aja, karena perubahannya Inplace

In [17]:
print(df_MCD.head())
print(df_MCD.shape)

                                 Open        High         Low       Close  \
Date
2023-01-03 00:00:00-05:00  259.239921  260.046580  255.285375  260.026886
2023-01-04 00:00:00-05:00  261.915613  262.210717  258.610326  260.085907
2023-01-05 00:00:00-05:00  260.449892  260.449892  257.124911  257.892212
2023-01-06 00:00:00-05:00  259.466185  265.496397  259.102213  265.083221
2023-01-09 00:00:00-05:00  265.535717  265.555411  262.427156  262.899353

                            Volume
Date
2023-01-03 00:00:00-05:00  2743800
2023-01-04 00:00:00-05:00  2584100
2023-01-05 00:00:00-05:00  1945600
2023-01-06 00:00:00-05:00  2855400
2023-01-09 00:00:00-05:00  2654600
(225, 5)

In [18]:
df_MCD.describe()

             Open        High         Low       Close        Volume
count  225.000000  225.000000  225.000000  225.000000  2.250000e+02
mean   275.880291  277.517017  274.080429  275.849437  2.659938e+06
std     13.449740   13.236839   13.578337   13.380659  8.357119e+05
min    246.820007  248.809998  245.729996  246.190002  3.392540e+05
25%    263.342048  265.525878  261.394278  264.178192  2.104300e+06
50%    278.739990  280.269989  277.418013  279.029999  2.557400e+06
75%    288.091144  289.429314  286.489718  288.031433  2.943900e+06
max    296.197542  297.749195  293.740747  296.814209  6.305100e+06

In [19]:
df_MCD.to_csv('dataset/stock_MCD_ytd',sep=';', index=True, header=True)# 1 kali Run