In [17]:
import pandas as pd
import numpy as np
import yfinance as yf

In [18]:
SBUX = yf.Ticker('SBUX')

df_SBUX = SBUX.history(period='ytd',interval= '1d')
print(type(df_SBUX))

<class 'pandas.core.frame.DataFrame'>

In [19]:
df_SBUX.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 225 entries, 2023-01-03 00:00:00-05:00 to 2023-11-22 00:00:00-05:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          225 non-null    float64
 1   High          225 non-null    float64
 2   Low           225 non-null    float64
 3   Close         225 non-null    float64
 4   Volume        225 non-null    int64
 5   Dividends     225 non-null    float64
 6   Stock Splits  225 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 14.1 KB

In [20]:
SBUX_cols = df_SBUX.columns.tolist() 
print(SBUX_cols)

['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits']

### Liat isi kolom Dividends

In [21]:
for col in SBUX_cols[-2:]:
    print(df_SBUX[col].unique())

[0.   0.53 0.57]
[0.]

In [22]:
df_SBUX[df_SBUX['Dividends'] == 0.53]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-02-09 00:00:00-05:00,104.076203,104.942435,103.948231,104.391197,5608400,0.53,0.0
2023-05-11 00:00:00-04:00,105.296804,105.613367,103.990982,104.495499,4791700,0.53,0.0
2023-08-10 00:00:00-04:00,99.990549,101.810550,99.851315,101.104431,6844200,0.53,0.0

In [23]:
df_SBUX[df_SBUX['Dividends'] == 0.57]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-11-09 00:00:00-05:00,104.300003,104.459999,102.029999,102.230003,7607000,0.57,0.0

ternyata isi kolom Dividends sama Stock Splits ga penting, bisa di-Drop

In [24]:
df_SBUX = df_SBUX.drop(['Dividends', 'Stock Splits'], axis= 0) # Run 1 kali aja, karena perubahannya Inplace

KeyError: "['Dividends', 'Stock Splits'] not found in axis"

In [ ]:
print(df_SBUX.head())
print(df_SBUX.shape)

                                 Open        High         Low       Close  \
Date
2023-01-03 00:00:00-05:00   98.493532   99.090998   97.425935   98.757988
2023-01-04 00:00:00-05:00  100.579769  102.577848  100.442646  102.313393
2023-01-05 00:00:00-05:00  102.342761  102.940226  101.363311  102.283997
2023-01-06 00:00:00-05:00  103.214489  104.801201  102.852097  104.497574
2023-01-09 00:00:00-05:00  104.331052  104.487767  102.284004  102.587631

                             Volume
Date
2023-01-03 00:00:00-05:00   6607700
2023-01-04 00:00:00-05:00   8166600
2023-01-05 00:00:00-05:00   5575100
2023-01-06 00:00:00-05:00   9644100
2023-01-09 00:00:00-05:00  10124800
(222, 5)

In [ ]:
df_SBUX.describe()

             Open        High         Low       Close        Volume
count  222.000000  222.000000  222.000000  222.000000  2.220000e+02
mean    99.937104  100.767568   99.138215   99.969450  6.355817e+06
std      4.684859    4.802488    4.703873    4.840808  2.891358e+06
min     89.398747   90.572297   88.722461   88.990990  1.595892e+06
25%     96.836162   97.484128   95.911859   96.818426  4.783450e+06
50%    100.234474  100.805921   99.326636   99.928394  5.630950e+06
75%    103.827653  104.432662  102.763268  103.716208  6.871775e+06
max    112.699177  113.673705  112.462941  112.768089  2.438860e+07

In [ ]:
df_SBUX.to_csv('dataset/stock_SBUX_ytd',sep=';', index=True, header=True)# 1 kali Run